<!DOCTYPE html>
<html lang="en">
  <!-- reusing partials -->
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1>home page</h1>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
