* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root {
  --primary-color: #9f86c0;
  --secondary-color: #231942;
  --tertiary-color: #e0b1cb;
}

.max-container {
  max-width: 1400px;
  margin-inline: auto;
}

.btn {
  display: inline-block;
  padding: 10px 12px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

header {
  background-color: var(--secondary-color);
}

.nav-bar {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: bold;
}

.logo a {
  color: var(--tertiary-color);
}

.logo-img {
  font-size: 1.5rem;
  text-shadow: 1px 1px 8px orange;
}

main {
  padding-inline: 1rem;
  padding-bottom: 2rem;
  min-height: 82vh;
}

h1 {
  text-align: center;
  margin-block: 2rem;
  text-shadow: 2px 2px 4px var(--secondary-color),
    -2px -2px 4px var(--secondary-color);
}

.blog {
  background-color: var(--secondary-color);
  max-width: 800px;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
  margin-inline: auto;
  padding: 1.4rem 1rem;
}

.blog-title {
  color: var(--primary-color);
  font-size: 1.7rem;
}

.blog-content {
  padding-top: 4px;
  text-indent: 4px;
  color: var(--tertiary-color);
  font-size: 1.2rem;
}

.compose-main {
  min-height: 75vh;
  padding-inline: 1rem;
}

.compose-container {
  background-color: var(--secondary-color);
  max-width: 800px;
  padding: 1.8rem 1.2rem;
  margin-inline: auto;
  border-radius: 16px;
}

label {
  display: block;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-block: 1rem 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 8px 10px;
  background-color: #9f86c05f;
  color: var(--tertiary-color);
  font-size: 1.2rem;
  resize: none;
  border: none;
  outline: none;
  border-radius: 12px;
}

textarea::-webkit-scrollbar {
  display: none;
}

.btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.btn-container .btn {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  background-color: var(--secondary-color);
  padding: 0.7rem;
}

.developer {
  text-align: center;
  font-size: 1rem;
}
